.image-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  fill: #43425d !important;
}
.label-text {
  color: #43425d;
  text-transform: uppercase;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  .label-value {
    position: absolute;
    bottom: 0;
    width: 100px;
  }
}
.decimal-number {
  width: 100%;
}
.preview-box {
  box-shadow: 0 0 5px rgba(#000, 0.1);
  background-color: #fff;
}
.save-item-btn {
  width: 120px;
  background-image: linear-gradient(to right, #8074c2, #4c486b);
  color: white !important;
  text-transform: capitalize;
  font-size: 1rem !important;
}
.cancel-btn {
  width: 120px;
  margin-left: 15px;
  border: 1px solid #6452a2;
  background-color: #f5f5f5 !important;
  color: #6452a2 !important;
  text-transform: capitalize;
  font-size: 1rem !important;
}
.save-item-btn:hover {
  background-color: #f5f5f5 !important;
  color: white !important;
}
.cancel-btn:hover {
  color: white !important;
  background-image: linear-gradient(to right, #8074c2, #4c486b);
  -webkit-text-fill-color: white;
}
.delete-rounded-button {
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background-color: transparent;

    i {
      color: darken(#c3c3c3, 20%) !important;
    }
  }
}
